{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>
{% block title %} {% endblock %}
</title>
<link rel='stylesheet' type='text/css' media='screen' 
href="{% static 'css/base.css'%}">
{% block styles %} {% endblock %}
</head>
<body>
  <li class="nav-item active">
    <a class="nav-link" href="{% url ‘index’ %}">Catalogue <span class="sr-only">(current)</span></a>
    </li>
{% block content %} {% endblock %}
</body>
</html>